<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.0</key>
    <string>A_.0.glif</string>
    <key>A.1</key>
    <string>A_.1.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.0</key>
    <string>B_.0.glif</string>
    <key>B.1</key>
    <string>B_.1.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.0</key>
    <string>C_.0.glif</string>
    <key>C.1</key>
    <string>C_.1.glif</string>
    <key>a</key>
    <string>a.glif</string>
  </dict>
</plist>
