<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.0</key>
    <string>A_.0.glif</string>
    <key>A.1</key>
    <string>A_.1.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.0</key>
    <string>B_.0.glif</string>
    <key>B.1</key>
    <string>B_.1.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.0</key>
    <string>C_.0.glif</string>
    <key>C.1</key>
    <string>C_.1.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.0</key>
    <string>D_.0.glif</string>
    <key>D.1</key>
    <string>D_.1.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.0</key>
    <string>E_.0.glif</string>
    <key>E.1</key>
    <string>E_.1.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.0</key>
    <string>F_.0.glif</string>
    <key>F.1</key>
    <string>F_.1.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.0</key>
    <string>G_.0.glif</string>
    <key>G.1</key>
    <string>G_.1.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.0</key>
    <string>H_.0.glif</string>
    <key>H.1</key>
    <string>H_.1.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.0</key>
    <string>I_.0.glif</string>
    <key>I.1</key>
    <string>I_.1.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.0</key>
    <string>J_.0.glif</string>
    <key>J.1</key>
    <string>J_.1.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.0</key>
    <string>K_.0.glif</string>
    <key>K.1</key>
    <string>K_.1.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.0</key>
    <string>L_.0.glif</string>
    <key>L.1</key>
    <string>L_.1.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.0</key>
    <string>M_.0.glif</string>
    <key>M.1</key>
    <string>M_.1.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.0</key>
    <string>N_.0.glif</string>
    <key>N.1</key>
    <string>N_.1.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.0</key>
    <string>O_.0.glif</string>
    <key>O.1</key>
    <string>O_.1.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.0</key>
    <string>P_.0.glif</string>
    <key>P.1</key>
    <string>P_.1.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.0</key>
    <string>Q_.0.glif</string>
    <key>Q.1</key>
    <string>Q_.1.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.0</key>
    <string>R_.0.glif</string>
    <key>R.1</key>
    <string>R_.1.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.0</key>
    <string>S_.0.glif</string>
    <key>S.1</key>
    <string>S_.1.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.0</key>
    <string>T_.0.glif</string>
    <key>T.1</key>
    <string>T_.1.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.0</key>
    <string>U_.0.glif</string>
    <key>U.1</key>
    <string>U_.1.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.0</key>
    <string>V_.0.glif</string>
    <key>V.1</key>
    <string>V_.1.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.0</key>
    <string>W_.0.glif</string>
    <key>W.1</key>
    <string>W_.1.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.0</key>
    <string>X_.0.glif</string>
    <key>X.1</key>
    <string>X_.1.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.0</key>
    <string>Y_.0.glif</string>
    <key>Y.1</key>
    <string>Y_.1.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.0</key>
    <string>Z_.0.glif</string>
    <key>Z.1</key>
    <string>Z_.1.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
